:root {
  --base-color: rgba(33, 33, 33, 1);
  --brand-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --lighter-font: rgba(117, 117, 117, 1);
  --navy-block: rgba(47, 48, 58, 1);
  --white: rgba(255, 255, 255, 1);
  --team-block: rgba(245, 244, 250, 1);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --portfolio-border: rgba(238, 238, 238, 1);
  --address: rgba(255, 255, 255, 0.6);
  --line-color: rgba(236, 236, 236, 1);
  --shadow-color1: rgba(0, 0, 0, 0.12);
  --shadow-color2: rgba(0, 0, 0, 0.14);
  --shadow-color3: rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header {
  border-bottom: 1px solid var(--line-color);
  padding-top: 24px;
  padding-bottom: 32px;
}
.page-header {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.18;
  text-decoration: none;
  color: var(--logo-color);
  margin-right: 93px;
}
.logo-web {
  color: var(--brand-color);
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.nav-list {
  gap: 46px;
}
.nav-element {
  text-decoration: none;
  color: var(--base-color);
}
.nav-element:focus,
.nav-element:hover,
.nav-element:hover,
.contact:hover,
.contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
}
.contact {
  text-decoration: none;
  color: var(--lighter-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.mail {
  margin-left: 364px;
  margin-right: 50px;
}
.title-block {
  background: var(--navy-block);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--white);
}
.order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 41px;
  box-shadow: var(--shadow-color);
  background: var(--brand-color);
  color: var(--white);
  border-color: var(--brand-color);
}
.button {
  cursor: pointer;
  border-radius: 4px;
}
.pros-block {
  font-size: 14px;
  line-height: 1.71;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  margin: 0;
  justify-content: space-between;
  gap: 30px;
}
p {
  color: var(--lighter-font);
}
.services-block {
  display: flex;
  flex-direction: column;
}

.team-block {
  background-color: var(--team-block);
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
.team {
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px var(--shadow-color1), 0px 1px 1px var(--shadow-color2),
    0px 2px 1px var(--shadow-color3);
  border-radius: 0px 0px 4px 4px;
}
footer {
  background-color: var(--navy-block);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.down {
  margin-top: 60px;
  padding-right: 0;
  color: var(--white);
}
.address {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}
.footer-contact {
  color: var(--address);
  text-decoration: none;
}
.nav-portfolio {
  display: flex;
  justify-content: center;
  padding-right: 8px;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-button {
  background: var(--team-block);
  border-width: 0;
  font-weight: bold;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
}
.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--brand-color);
  color: var(--white);
}
.portfolio {
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  border: 1px solid var(--portfolio-border);
}
.client-name {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0 4px 20px;
}
.description {
  font-size: 16px;
  line-height: 1.87;
  margin: 0 0 0 24px;
  padding-bottom: 20px;
}
