:root {
  --base-color: rgba(33, 33, 33, 1);
  --brand-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --lighter-font: rgba(117, 117, 117, 1);
  --navy-block: rgba(47, 48, 58, 1);
  --white: rgba(255, 255, 255, 1);
  --team-block: rgba(245, 244, 250, 1);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --portfolio-border: rgba(238, 238, 238, 1);
  --address: rgba(255, 255, 255, 0.6);
  --line-color: rgba(236, 236, 236, 1);
  --shadow-color1: rgba(0, 0, 0, 0.12);
  --shadow-color2: rgba(0, 0, 0, 0.14);
  --shadow-color3: rgba(0, 0, 0, 0.2);
  --icon-color: rgba(175, 177, 184, 1);
  --overlay-color: rgba(47, 48, 58, 0.4);
  --footer-icon: rgba(255, 255, 255, 0.1);
  --portfolio-box-shadow1: rgba(0, 0, 0, 0.16);
  --portfolio-box-shadow2: rgba(0, 0, 0, 0.06);
  --portfolio-box-shadow3: rgba(0, 0, 0, 0.12);
  --portfolio-box-shadow4: rgba(0, 0, 0, 0.8);
  --portfolio-box-shadow5: rgba(0, 0, 0, 0.1);
  --label-color: rgba(47, 48, 58, 0.8);
  --input-border: rgba(255, 255, 255, 0.3);
  --border-box: rgba(33, 33, 33, 0.2);
  --button-shadow: rgba(0, 0, 0, 0.15);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header {
  border-bottom: 1px solid var(--line-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.18;
  text-decoration: none;
  color: var(--logo-color);
  margin-right: 93px;
}
.logo-web {
  color: var(--brand-color);
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.nav-list {
  gap: 46px;
}
.nav-element,
.nav-element-active {
  text-decoration: none;
  color: var(--base-color);
}
.nav-element-active {
  position: relative;
}
.nav-element:focus,
.nav-element:hover,
.contact:hover,
.contact:focus,
.footer-contact:hover,
.footer-contact:focus,
.nav-element-active:hover,
.nav-element-active:focus {
  color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-element-active::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  border-radius: 2px;
}

.contact {
  text-decoration: none;
  color: var(--lighter-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: baseline;
}
.mail {
  margin-left: 364px;
  margin-right: 50px;
}
.title-block {
  background-image: linear-gradient(
      315deg,
      var(--base-color) 0%,
      var(--overlay-color) 40%
    ),
    url(/goit-markup-hw-05/images/background.jpg);
  background-size: 1600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 182px;
  padding-bottom: 182px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--white);
}
.order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 41px;
  box-shadow: var(--shadow-color);
  background: var(--brand-color);
  color: var(--white);
  border: none;
}
.button {
  cursor: pointer;
  border-radius: 4px;
}
.pros-block {
  font-size: 14px;
  line-height: 1.71;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  margin: 0;
  justify-content: space-between;
  gap: 30px;
}
p {
  color: var(--lighter-font);
}
.services-block {
  display: flex;
  flex-direction: column;
}
.service {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.service > .label {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 24px;
  color: var(--white);
  height: 70px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.team-block {
  background-color: var(--team-block);
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
.team {
  background-color: var(--white);
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px var(--shadow-color1), 0px 1px 1px var(--shadow-color2),
    0px 2px 1px var(--shadow-color3);
  border-radius: 0px 0px 4px 4px;
}
footer {
  background-color: var(--navy-block);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: baseline;
}
.down {
  margin-top: 60px;
  padding-right: 0;
  color: var(--white);
}
.address {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}
.footer-contact {
  color: var(--address);
  text-decoration: none;
}
.nav-portfolio {
  display: flex;
  justify-content: center;
  padding-right: 8px;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-button {
  background: var(--team-block);
  border-width: 0;
  font-weight: bold;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
}
.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--brand-color);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px var(--portfolio-box-shadow3);
  box-shadow: 0px 1px 2px 0px var(--portfolio-box-shadow4);
  box-shadow: 0px 3px 1px 0px var(--portfolio-box-shadow5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  border: 1px solid var(--portfolio-border);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 1px 4px 6px 0px var(--portfolio-box-shadow1);
  box-shadow: 0px 4px 4px 0px var(--portfolio-box-shadow2);
  box-shadow: 0px 1px 1px 0px var(--portfolio-box-shadow3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-name {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0 4px 20px;
}
.description {
  font-size: 16px;
  line-height: 1.87;
  margin: 0 0 0 24px;
  padding-bottom: 20px;
}
.contact:hover > :first-child,
.contact:focus > :first-child {
  fill: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  fill: var(--lighter-font);
  margin: 0 10px 0 0;
}

.rect {
  background-color: var(--team-block);
  padding: 25px 100px;
}
.social-links {
  gap: 10px;
  justify-content: center;
  display: flex;
  margin: 16px 0 18px 0;
}
.icon-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  cursor: pointer;
}

.icon-list:hover,
.icon-list:hover > ::after,
.icon-list:focus,
.icon-list:focus > ::after {
  fill: var(--white);
  background-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  fill: var(--icon-color);
}
.client:hover > ::after,
.client:hover,
.client:focus > ::after,
.client:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  gap: 10px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.footer-icon {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon);
  fill: var(--white);
  cursor: pointer;
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-form {
  display: inline-flex;
}
.newsletter {
  border: 1px solid var(--input-border);
  background-color: var(--navy-block);
  padding-left: 16px;
  height: 50px;
  width: 358px;
  color: white;
}

.register {
  border: none;
  background-color: var(--brand-color);
  color: var(--white);
  cursor: pointer;
  padding: 10px 28px 10px 42px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.sent {
  border: none;
  fill: var(--white);
  margin-left: 24px;
}
.image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  color: var(--white);
  transform: translateY(200%);
  transition: transform 250ms ease;
  font-size: 18px;
  line-height: 1.55;
  padding: 49px 45px 49px 24px;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color3);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  display: flex;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--portfolio-box-shadow5);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
  fill: var(--logo-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.signup-form {
  margin-top: 12px;
  position: absolute;
  display: block;
}
.form-box {
  color: var(--lighter-font);
  font-size: 12px;
  line-height: 1.17;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 0;
  border-radius: 4px;
  border: 1px solid var(--border-box);
  position: relative;
  display: block;
  cursor: pointer;
  transition-property: border;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  fill: var(--base-color);
  transform: translateY(-160%);
  margin-left: 12px;
  transition-property: fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box:focus,
.form-box:focus + .form-icon,
.comment:focus {
  outline: none;
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.modal-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  display: block;
}
.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
}
.comment {
  resize: none;
  width: 458px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid var(--border-box);
  border-radius: 4px;
  display: block;
  transition-property: border;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
}
.join {
  border: none;
  background-color: var(--brand-color);
  color: var(--white);
  padding: 10px 76px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
}
.name {
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
}

.checkbox {
  visibility: hidden;
  display: flex;
}
.checkbox::before {
  display: flex;
  content: "";
  background-image: url(./images/icons.svg#icon-Vector-3);
  width: 16px;
  height: 15px;
  cursor: pointer;
  visibility: visible;
}
.checkbox:checked::before {
  content: "";
  background-image: url(./images/icons.svg#icon-icon-check);
  width: 16px;
  height: 15px;
}
.policy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  font-size: 14px;
  gap: 8px;
  text-align: center;
}
.policy-doc {
  color: var(--brand-color);
}
