@import "utils/vars";
@import "components/page-header";
@import "components/title-block";
@import "components/pros-block";
@import "components/services-block";
@import "components/team-block";
@import "components/client-block";
@import "components/footer";
@import "components/modal";
@import "components/portfolio-nav";
@import "components/portfolio-grid";

body {
  font-family: $main-font;
  color: $base-color;
}
.container {
  width: $container-width;
  margin: $centered-margin;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  cursor: pointer;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  margin: 0;
  justify-content: space-between;
  gap: 30px;
}
p {
  color: $lighter-font;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}
