.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $shadow-color3;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 40px;
  display: flex;
  &__close-btn {
    margin: 8px 8px 0 auto;
    top: 8px;
    right: 8px;
    border: 1px solid $portfolio-box-shadow5;
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;
    fill: $logo-color;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    display: block;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.signup-form {
  margin-top: 12px;
  position: absolute;
  display: block;
  &_button {
    border: none;
    background-color: $brand-color;
    color: $white;
    padding: 10px 76px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 4px 4px $button-shadow;
    border-radius: 4px;
  }
  &_label {
    margin: 0;
    font-size: 12px;
    line-height: 1.17;
  }
  &_check-white {
    visibility: hidden;
    transform: translateX(-100%);
    cursor: pointer;
    transition: $transition-effect;
    transition-property: visible;
  }
  &_checkbox {
    margin-left: -16px;
    display: flex;
    visibility: hidden;
    &:checked ~ .signup-form_check-white {
      visibility: visible;
      background-color: $brand-color;
      border-radius: 2px;
    }
  }
  &_square {
    cursor: pointer;
  }

  &_policy {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
  &_policy-doc {
    color: $brand-color;
  }
  &_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  &_icon {
    fill: $base-color;
    transform: translateY(-160%);
    margin-left: 12px;
    transition-property: fill;
    transition: $transition-effect;
  }
  &_box {
    color: $lighter-font;
    font-size: 12px;
    line-height: 1.17;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    margin-top: 4px;
    margin-bottom: 0;
    border-radius: 4px;
    border: 1px solid $border-box;
    position: relative;
    display: block;
    cursor: text;
    transition-property: border;
    transition: $transition-effect;
    &:focus {
      outline: none;
      border-color: $brand-color;
      & + .signup-form_icon {
        fill: $brand-color;
      }
    }
  }
&_comment {
  resize: none;
  width: 458px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid $border-box;
  border-radius: 4px;
  display: block;
  transition-property: border;
  transition: $transition-effect;
  font-size: 12px;
  line-height: 1.17;
  &:focus {
    outline: none;
    border-color: $brand-color;
    fill: $brand-color;
  }
}}
