.header {
  border-bottom: 1px solid $line-color;
  height: 80px;
  display: flex;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
  &_logo {
    color: $logo-color;
    margin-right: 93px;
  }
  &__mobile-menu {
    margin: 10px;
    fill: black;
  }
}
.logo {
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.18;
  text-decoration: none;
}

.logo_web {
  color: $brand-color;
}

.nav {
  display: none;
}
.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header {
    &_logo {
      margin-left: 10px;
    }
  }
  .nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    display: block;
    &_list {
      gap: 46px;
    }
    &_element,
    &_element-active {
      text-decoration: none;
      color: $base-color;

      &:hover,
      &:focus {
        color: $brand-color;
        transition: $transition-effect;
      }
    }
    &_element-active {
      position: relative;

      &:hover,
      &:focus {
        color: $brand-color;
        transition: $transition-effect;
      }
      &::after {
        content: "";
        position: absolute;
        top: 46px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $brand-color;
        border-radius: 2px;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 101px;
    &_element {
      text-decoration: none;
      color: $lighter-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      display: flex;
      &:hover,
      &:focus {
        color: $brand-color;
        transition: $transition-effect;
        & .contact_icon {
          fill: $brand-color;
          transition: $transition-effect;
        }
      }
    }
    &_icon {
      fill: $lighter-font;
      margin: 0 10px 0 0;
      transition-property: fill;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    align-items: baseline;
    flex-direction: row;
    margin-left: 350px;
  }

  .mail {
    margin-right: 30px;
  }
}
