header {
  border-bottom: 1px solid $line-color;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
  &_logo {
    color: $logo-color;
    margin-right: 93px;
  }
}
.logo {
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.18;
  text-decoration: none;
}

.logo_web {
  color: $brand-color;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;

&_list {
  gap: 46px;
}
&_element,
&_element-active {
  text-decoration: none;
  color: $base-color;

  &:hover,
  &:focus {
    color: $brand-color;
    transition: $transition-effect;
  }
}
&_element-active {
  position: relative;

  &:hover,
  &:focus {
    color: $brand-color;
    transition: $transition-effect;
  }
  &::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $brand-color;
    border-radius: 2px;
  }
}
}
.contact {
  text-decoration: none;
  color: $lighter-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: baseline;
  &:hover,
  &:focus {
    color: $brand-color;
    transition: $transition-effect;
    & .contact_icon {
      fill: $brand-color;
      transition: $transition-effect;
    }
  }
&_icon {
  fill: $lighter-font;
  margin: 0 10px 0 0;
  transition-property: fill;
}}
.mail {
  margin-left: 364px;
  margin-right: 50px;
}
