.portfolio {
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    border: 1px solid $portfolio-border;
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px $portfolio-box-shadow1;
      box-shadow: 0px 4px 4px 0px $portfolio-box-shadow2;
      box-shadow: 0px 1px 1px 0px $portfolio-box-shadow3;
      transition: $transition-effect;
    }
  }
  &__label {
    font-size: 18px;
    line-height: 2;
    margin: 20px 0 4px 20px;
  }
  &__description {
    font-size: 16px;
    line-height: 1.87;
    margin: 0 0 0 24px;
    padding-bottom: 20px;
  }
  &__image {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-color;
    color: $white;
    transform: translateY(200%);
    transition: transform 250ms ease;
    font-size: 18px;
    line-height: 1.55;
    padding: 49px 45px 49px 24px;
    .portfolio__item:hover & {
      transform: translateY(0);
      transition: $transition-effect;
    }
  }
}
