.nav-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 8px;
  gap: 8px;
  margin-bottom: 50px;
  &__button {
    background: $team-block;
    border-width: 0;
    font-weight: bold;
    padding-left: 32px;
    padding-top: 6px;
    padding-right: 32px;
    padding-bottom: 6px;
    &:hover,
    &:focus {
      background-color: $brand-color;
      color: $white;
      box-shadow: 0px 2px 2px 0px $portfolio-box-shadow3;
      box-shadow: 0px 1px 2px 0px $portfolio-box-shadow4;
      box-shadow: 0px 3px 1px 0px $portfolio-box-shadow5;
      transition: $transition-effect;
    }
  }
}

@media screen and (min-width: 1200px) {
  .nav-portfolio {
    &__button {
      padding: 6px 22px;
    }
  }
}
