.team {
  background-color: $team-block;
  &__list {
    flex-direction: column;
    display: flex;
  }
  &_item {
    background-color: $white;
    text-align: center;
    font-size: 16px;
    line-height: 1.17;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px $shadow-color1, 0px 1px 1px $shadow-color2,
      0px 2px 1px $shadow-color3;
    border-radius: 0px 0px 4px 4px;
  }
  &_image {
    height: 460px;
    width: 450px;
  }
}
.social-links {
  gap: 10px;
  justify-content: center;
  display: flex;
  margin: 16px 0 18px 0;
  &_icon-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $icon-color;
    &:hover,
    &:focus {
      fill: $white;
      background-color: $brand-color;
      transition: $transition-effect;
      &::after {
        fill: $white;
        background-color: $brand-color;
        transition: $transition-effect;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .team {
    &__list {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &_image {
      width: 354px;
      height: 374px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .team_image {
    height: 271px;
    width: 260px;
  }
}
